
/* Essentials */

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	background: white;
	font-size: 12px;
}

label, input, button, select, textarea {
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    font-size: 12px;
	height: 16px;
	line-height: 16px;
}

textarea {
    height: auto;
}

select {
	height: 26px;
}

a:link, a:visited {
	color: #77BACE;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

fieldset {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #F6F6F6;
	border: 1px solid #ccc;
	padding: 1% 0%;
	margin: 10px 0;
}

fieldset label {
	display: block;
	float: left;
	width: 200px;
	height: 25px;
	line-height: 25px;
	text-shadow: 0 1px 0 #fff;
	font-weight: bold;
	padding-left: 10px;
	margin: -5px 0 5px 0;
	text-transform: uppercase;
	font-size: 12px;
}

fieldset input[type=text] {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #BBBBBB;
	height: 20px;
	color: #666666;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	padding-left: 10px;
	background-position: 10px 6px;
	margin: 0;
	display: block;
	float: left;
	width: 96%;
	margin: 0 10px;
}

fieldset input[type=text]:focus {
	outline: none;
	border: 1px solid #77BACE;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

fieldset select {
	width: 96%;
	margin: 0 10px;
	border: 1px solid #bbb;
	height: 20px;
	color: #666666;
}

fieldset textarea {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #BBBBBB;
	color: #666666;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	padding-left: 10px;
	background-position: 10px 6px;
	margin: 0 0.5%;
	display: block;
	float: left;
	width: 96%;
	margin: 0 10px;
}

fieldset textarea:focus {
	outline: none;
	border: 1px solid #77BACE;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

.m-clear {
	clear: both;
}

.m-spacer {
	height: 20px;
}

/* header */

#m-header h3.title {
	padding-left:20px;
	line-height:20px;
}

#m-header h3.title a {
	text-decoration: none;
	color: black;
}

#m-header div.info {
	padding-top:10px;
	padding-right:20px;
}

#m-header div.info a {
	margin-left:15px;
}

#m-header .navbar-inner {
	border-radius:0px;
}

/* sidebar */

#m-sidebar .accordion-group {
	margin-left: 10px;
	border:1px solid #C2C2C3;
}

#m-sidebar .accordion-heading {
	border-radius: 3px 3px 0px 0px;
	background-color: #CCCCCC;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5) inset;
	background: linear-gradient(to bottom, #FAFAFA 0%, #EFEFEF 100%) repeat scroll 0 0 transparent;
	text-shadow: 0 1px 0 #FFFFFF;
	color: #333333;
}

#m-sidebar .accordion-heading .accordion-toggle {
    display: block;
    padding: 5px 15px;
}

#m-sidebar .title {
	color:black;
	font-size:14px;
	font-weight: bold;
}

/* footer */

#m-footer hr {
	margin-left: 10px;
}

/* main */

#m-main {
	float: right;
	padding-right: 10px;
}

/* widget */

.m-widget {
	margin-top: 0px;
	margin-bottom: 10px;
	border-radius: 3px;
	box-shadow: #E6E6E6 0px 1px 1px 0px;
}

.m-widget .header {
	height: 20px;
	padding: 5px 15px;
	border:1px solid #C2C2C3;
	padding-left: 10px;
	border-radius: 3px 3px 0px 0px;
	background-color: #CCCCCC;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5) inset;
	background: linear-gradient(to bottom, #FAFAFA 0%, #EFEFEF 100%) repeat scroll 0 0 transparent;
	text-shadow: 0 1px 0 #FFFFFF;
	color: #333333;
}

.m-widget .header .title {
	float: left;
	margin: 0px;
	font-size:14px;
}

.m-widget .header .ctrl {
	float: right;
}

.m-widget .header .ctrl .btn {
	margin: 0px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.m-widget .content {
	border-left: 1px solid #C2C2C3;
	border-right: 1px solid #C2C2C3;
	border-bottom: 1px solid #C2C2C3;
	border-radius: 0px 0px 3px 3px;
}

.m-widget .content.content-inner {
	padding-left: 10px;
	padding-top:10px;
	font-size: 12px;
}

.m-widget .content .table {
	margin-bottom: 0px;
}

/* page */

.m-page-size {
	margin-bottom:0px;
	width:55px;
	display:inline;
}

/* Main Table */

.m-table {
	width: 100%;
	margin: -5px 0 0 0;
	line-height: 16px;
}

.m-table td {
	margin: 0;
	padding: 0;
	border-bottom: 1px dotted #ccc;
}

.m-table thead tr {
	height: 20px;
	background: url(../img/table_sorter_header.png) repeat-x;
	text-align: left;
	text-indent: 10px;
	cursor: pointer;
}

.m-table td {
	padding: 4px 10px;
}

.m-table input[type=image] {
	margin-right: 10px;
}

.m-table input[type=checkbox] {
	margin: 3px 3px 3px 4px;
}

.m-table th.sorting {
	background: no-repeat url(../img/sorting.png);
	background-position: right -52px;
	cursor: pointer;
}

.m-table th.sorting-asc {
	background-position: right -2px;
}

.m-table th.sorting-desc {
	background-position: right -29px;
}

/* etc */

.m-form-blank {
	margin: 0px;
}

.m-form-bottom {
	margin-bottom: 10px;
}

.m-table-check {
	text-indent: 0px;
	text-align: center;
}

.m-blank {
	margin-bottom: 10px;
}

.form-inline .chzn-container {
	vertical-align: middle;
}

/* Alerts */

div.m-alert-info {
	display: block;
	width: 95%;
	margin: 10px 3% 0 3%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #B5E5EF url(../img/icn_alert_info.png) no-repeat;
	background-position: 10px 10px;
	border: 1px solid #77BACE;
	color: #082B33;
	padding: 10px 0;
	text-indent: 40px;
	font-size: 14px;
}

div.m-alert-warning {
	display: block;
	width: 95%;
	margin: 10px 3% 0 3%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #F5F3BA url(../img/icn_alert_warning.png) no-repeat;
	background-position: 10px 10px;
	border: 1px solid #C7A20D;
	color: #796616;
	padding: 10px 0;
	text-indent: 40px;
	font-size: 14px;
}

div.m-alert-error {
	display: block;
	width: 95%;
	margin: 10px 3% 0 3%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #F3D9D9 url(../img/icn_alert_error.png) no-repeat;
	background-position: 10px 10px;
	border: 1px solid #D20009;
	color: #7B040F;
	padding: 10px 0;
	text-indent: 40px;
	font-size: 14px;
}

div.m-alert-success {
	display: block;
	width: 95%;
	margin: 10px 3% 0 3%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #E2F6C5 url(../img/icn_alert_success.png) no-repeat;
	background-position: 10px 10px;
	border: 1px solid #79C20D;
	color: #32510F;
	padding: 10px 0;
	text-indent: 40px;
	font-size: 14px;
}

/**
 * bootstrap modal
 */
.modal {
    top: 50%;
}

.modal-backdrop, .modal-backdrop.fade.in {
  opacity: 0.2;
  filter: alpha(opacity=20);
}

/**
 * uniform
 * 美化中文下的字体大小
 */
div.uploader span.filename {
	font-size: 12px;
}

div.uploader span.action {
	font-size: 12px;
}

/**
 * boostrap里的配置会导致radio样式下包裹的radio样式margin-left:-20px;
 * 导致被uniform渲染后的radio会跑到显示的radio的左边，无法点击到
 * 这里设置为0px，让用户可以简单点击到
 */
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
    float: left;
    margin-left: 0px;
}

/**
 * uniform里用的是checker，要和bootstrap里保持一致
 */
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline,
.checker.inline + .checker.inline {
    margin-left: 10px;
}

/**
 * uniform里checkbox的margin-right是5px，radio的margin-right是3px
 * 为了避免上下不对齐，统一改成5px
 */
div.radio {
    margin-right: 5px;
}

/**
 * 输入框背景显示标尺
 */
input.measure-input {
	background: url("../img/ruler.gif") repeat-x scroll 0 9px transparent;
    border-color: #AAAAAA #CCCCCC #CCCCCC #AAAAAA;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    color: #777777;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
	outline: 0 none;
    padding-bottom: 3px;
}

.navbar-inverse .navbar-search .search-query {
    border-radius: 15px 15px 15px 15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0;
    height: 20px;
    background: none repeat scroll 0 0 rgba(35, 43, 48, 0.83);
    border-color: #111111;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.15);
    color: gray;
    transition: width 0.3s ease 0s;
	width: 100px;
}

.navbar-inverse .navbar-search .search-query:focus {
    transition: width 0.3s ease 0s;
    width: 150px;
    background: white;
}

.navbar-inverse .navbar-search i {
	position: absolute;
	right: 10px;
	top: 5px;
}

/**
 * chozen中single select的search input高度过小的问题
 */
.chzn-search input[type="text"] {
	height: 24px;
}

