<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="scopeConnector" class="com.mossle.bridge.scope.DatabaseScopeConnector"/>

	<bean id="userRepoConnector" class="com.mossle.bridge.DatabaseUserRepoConnector"/>

	<bean id="userConnector" class="com.mossle.bridge.DatabaseUserConnector"/>

	<bean id="orgConnector" class="com.mossle.bridge.DatabaseOrgConnector"/>

	<bean id="userProcessor" class="com.mossle.bridge.DatabaseUserProcessor"/>

	<bean id="groupProcessor" class="com.mossle.bridge.DatabaseGroupProcessor"/>

	<bean id="keyValue" class="com.mossle.form.keyvalue.DatabaseKeyValue">
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>

</beans>
