<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="userProcessor" class="com.mossle.bridge.DatabaseUserProcessor"/>

	<bean id="groupProcessor" class="com.mossle.bridge.DatabaseGroupProcessor"/>

	<bean id="keyValue" class="com.mossle.form.keyvalue.DatabaseKeyValue">
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>

	<bean id="userNotification" class="com.mossle.user.notification.PartyUserNotification"/>

</beans>
