<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--
	<bean id="demoJob" class="com.mossle.user.scheduler.DemoJob"/>

	<bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="demoJob" />
		<property name="targetMethod" value="execute" />
	</bean>

	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="jobDetail" />
		<property name="cronExpression" value="0/10 * * * * ?" />
	</bean>
-->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="autoStartup" value="${quartz.autostartup}"/>
		<property name="quartzProperties" ref="applicationProperties"/>
<!--
		<property name="triggers">
			<list>
				<ref bean="cronTrigger" />
			</list>
		</property>
-->
	</bean>

</beans>